.revorange { color: #ed7925 !important; }

.site-index .body-content .row > div { text-align: center; }

#main-links { margin-bottom: 60px; }

.navbar-inverse .navbar-brand { color: #ed7925; padding-left: 40px; position: relative; }
.navbar-inverse .navbar-brand::before { content: ''; display: inline-block; position: absolute; top: 11px; left: 2px; width: 28px; height: 28px; background: url(/images/logo.png) center/28px no-repeat; }
.remove-person:hover { cursor: pointer; }

.people-on-job-panel { margin: 20px auto; }
.row.person_on_job { border-bottom: 1px solid #eee; margin-bottom: 15px; }
.row.person_on_job:first-child .remove-person { display: none; }
.input-group.date .input-group-addon:last-of-type { border-right: none; }

.table.breakdown-data { margin-bottom: 0px; }
.panel.breakdown-data .panel-body { padding-top: 0px; }
.panel.breakdown-data .kv-panel-before { border-bottom: none; }

/* Hide data rows if the table has class .no-details so that we only see the summary rows */
.table.breakdown-data.no-details thead { display: none; }
.table.breakdown-data.no-details tr[data-key] { display: none !important; }

/* Krajee CSS Overrides */

.kv-grid-table .select2-container--krajee .select2-selection__clear { top: 0.1rem; cursor: pointer; }
.kv-grid-table .select2-container--krajee .select2-selection--multiple { padding-right: 5px; }
.kv-grid-table .select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove { margin-top: 0px; cursor: pointer; }
.kv-child-table-row th:first-of-type { border-left: none; }
.kv-expand-header-cell.kv-batch-toggle:hover, .kv-expand-header-cell.kv-batch-toggle:focus { background-color: #d9edf7 !important; }

/* Override default loader gif with the revs pacman loader for the dashboard */
#accordion-teamBreakdowns .kv-loader {
    position: absolute;
    background: transparent url('/images/Pacman-0.8s-42px.gif') center center no-repeat !important;
    width: 42px;
    height: 42px;
    transform: translateY(-21px);
    top: 50%;
    left: 50%;
    z-index: 1099;
}
#pjax-grid-dashboardMain .kv-loader {
    position: absolute;
    background: transparent url('/images/Pacman-0.8s-200px.gif') center center no-repeat !important;
    width: 200px;
    height: 200px;
    transform: translateY(-100px);
    top: 50%;
    left: 50%;
    z-index: 1099;
}
.kv-loader-overlay { z-index: 1009; }

/* Bootstrap CSS Overrides & Extensions */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin: 0; }
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-left: 0; }

.table > thead > tr > td.revs, .table > tbody > tr > td.revs, .table > tfoot > tr > td.revs, .table > thead > tr > th.revs, .table > tbody > tr > th.revs, .table > tfoot > tr > th.revs, .table > thead > tr.revs > td, .table > tbody > tr.revs > td, .table > tfoot > tr.revs > td, .table > thead > tr.revs > th, .table > tbody > tr.revs > th, .table > tfoot > tr.revs > th
{ background-color: #f9e3d4 !important; }

.table > thead > tr > td.grey, .table > tbody > tr > td.grey, .table > tfoot > tr > td.grey, .table > thead > tr > th.grey, .table > tbody > tr > th.grey, .table > tfoot > tr > th.grey, .table > thead > tr.grey > td, .table > tbody > tr.grey > td, .table > tfoot > tr.grey > td, .table > thead > tr.grey > th, .table > tbody > tr.grey > th, .table > tfoot > tr.grey > th
{ background-color: #f5f5f5 !important; }

.panel-default > .panel-heading.revs { background-color: #f9e3d4; }
.panel-group > div+div { margin-top: 5px; }

.btn-revs {
    color: #fff;
    background-color: #ed7925;
    border-color: #dd6915;
}

.btn-revs:hover {
    color: #fff;
    background-color: #dd6f25;
    border-color: #c96410;
}

.btn-revs:active, .btn-revs:focus {
    color: #fff;
}

.collapsing {
    /*transition: height 0.6s;*/
}

.kv-thead-float {
    /*display: none;*/
}
